@inject LocaleHelper LocaleHelper
@inject ConfigHelper ConfigHelper
@inject NavigationManager NavigationManager

<MudContainer Class="pa-0">
    <a class="d-flex justify-center align-center @(Disabled ? "" : "cursor-pointer setting-on-hover") py-2 pl-5">
        <MudText Class="no-select">@OptionName</MudText>
        <MudSpacer/>
        <MudSelect T="string" Value="_selectedOption" Disabled="@Disabled" Clearable="false" ValueChanged="(v) => OnLocaleChange(v)">
            @foreach (var item in Options)
            {
                <MudSelectItem Value="@item.Key">@item.Value</MudSelectItem>
            }
        </MudSelect>
    </a>
</MudContainer>
@if (AddDiv)
{
    <MudDivider DividerType="DividerType.Middle" Class="ma-0"/>
}

@code {

    protected override void OnInitialized()
    {
        _selectedOption = ConfigHelper.GetConfig().Language;
        base.OnInitialized();
    }

    [Parameter]
    public bool Disabled { get; set; }

    [Parameter]
    public bool AddDiv { get; set; }

    [Parameter]
    public Dictionary<string, string> Options { get; set; }

    [Parameter]
    public string OptionName { get; set; }

    private string _selectedOption;

    private void OnLocaleChange(string locale)
    {
        _selectedOption = locale;
        LocaleHelper.SetLocale(_selectedOption);
        ConfigHelper.SetLocale(_selectedOption);

        // Reload page by navigating away and back
        // Forcing with true doesnt work for some reason.
        NavigationManager.NavigateTo("/ServerPageWrapper/true");
    }
}
