@page "/ModLoader"

@implements IDisposable

@inject ConfigHelper ConfigHelper
@inject IDialogService DialogService
@inject NavigationManager NavigationManager
@inject ILogger<ModLoader> Logger
@inject LocaleHelper LocaleHelper

<MudContainer Class="px-4 my-2" MaxWidth="MaxWidth.Large">
    @if (!ModLoaderAvailable)
    {
        <MudAlert Severity="Severity.Info" Variant="Variant.Outlined">@(LocaleHelper.Get("mod_page_coming"))</MudAlert>
    }
    else
    {
        <MudItem sm="12" Class="mb-4">
            <MudButton OnClick="RevertChanges" Variant="Variant.Filled" Disabled="@(!UnsavedData)" Color="Color.Error" StartIcon="@Icons.Material.Filled.Undo" Size="Size.Large" Class="flex-grow-1">Undo Changes</MudButton>
            <MudButton OnClick="SaveChanges" Variant="Variant.Filled" Disabled="@(!UnsavedData)" Color="Color.Primary" StartIcon="@Icons.Material.Filled.Save" Size="Size.Large" Class="flex-grow-1">Save Changes</MudButton>
        </MudItem>

        <MudDropContainer T="DropItem" @ref="Container" Items="_items" ItemsSelector="@((item, dropzone) => item.Zone == dropzone)" ItemDropped="ItemUpdated" Class="d-flex flex-column flex-grow-1" CanDropClass="mud-border-success">
            <ChildContent>
                <MudGrid>
                    <MudItem sm="6">
                        <MudDropZone T="DropItem" Identifier="1" Class="rounded pa-4 d-flex flex-column mud-background-gray border-2 border-solid mud-border-lines-default mud-height-full" CanDrop="@((item) => item.Zone == "2")">
                            <MudText Typo="Typo.h6" Color="Color.Success" Class="no-pointers no-select">Unloaded Server Mods</MudText>
                            @if (_items.All(x => x.Zone != "1"))
                            {
                                <div class="mud-drop-item no-select no-pointers">
                                    <MudPaper Elevation="25" Class="pa-4 my-1 flex-grow-1 d-flex justify-space-between">
                                        <MudText Inline="true" Class="no-pointers no-select" Color="Color.Primary">Drag a mod here to unload it!</MudText>
                                    </MudPaper>
                                </div>
                            }
                        </MudDropZone>
                    </MudItem>
                    <MudItem sm="6">
                        <MudDropZone T="DropItem" Identifier="2" Class="rounded pa-4 d-flex flex-column mud-background-gray border-2 border-solid mud-border-lines-default mud-height-full" CanDrop="@((item) => item.Zone == "1")">
                            <MudText Typo="Typo.h6" Color="Color.Success" Class="no-pointers no-select">Loaded Server Mods</MudText>
                            @if (_items.All(x => x.Zone != "2"))
                            {
                                <div class="mud-drop-item no-select no-pointers">
                                    <MudPaper Elevation="25" Class="pa-4 my-1 flex-grow-1 d-flex justify-space-between">
                                        <MudText Inline="true" Class="no-pointers no-select" Color="Color.Primary">Drag a mod here to load it!</MudText>
                                    </MudPaper>
                                </div>
                            }
                        </MudDropZone>
                    </MudItem>
                </MudGrid>
            </ChildContent>
            <ItemRenderer>
                <MudPaper Elevation="25" Class="pa-4 my-1 flex-grow-1 d-flex justify-space-between">
                    <MudText Inline="true" Class="no-pointers no-select">@context.Name</MudText>
                </MudPaper>
            </ItemRenderer>
        </MudDropContainer>
    }
</MudContainer>

@code {
    private const bool ModLoaderAvailable = false; // TODO: remove once this page has been implemented
    private MudDropContainer<DropItem> Container { get; set; }
    private bool UnsavedData { get; set; }
    private List<DropItem> _items = new();
    private IDisposable LoaderHandler { get; set; }

    protected override void OnInitialized()
    {
        LoaderHandler = NavigationManager.RegisterLocationChangingHandler(Handler);
        _items = LoadData();
        base.OnInitialized();
    }

    private void ItemUpdated(MudItemDropInfo<DropItem> dropItem)
    {
        UnsavedData = true;
        dropItem.Item.Zone = dropItem.DropzoneIdentifier;
        _items = _items.OrderBy(x => x.Name).ToList();
        Container.Refresh();
        StateHasChanged();
    }

    public class DropItem
    {
        public string Name { get; set; }
        public string Zone { get; set; }
    }

    private async ValueTask Handler(LocationChangingContext context)
    {
        if (!UnsavedData)
        {
            // no unsavedData
            return;
        }

        Logger.LogInformation("Check user wants to navigate with unsaved data");

        var dialog = await DialogService.ShowAsync<UnsavedDataDialog>("UnsavedDataDialog", ConfigHelper.DialogOptions);
        var result = await dialog.Result;

        if (result?.Canceled is false)
        {
            Logger.LogInformation($"User did not want to save data, navigating to: {context.TargetLocation}");
            return;
        }

        Logger.LogInformation("User cancelled navigation");
        context.PreventNavigation();
    }

    private void SaveChanges()
    {
        UnsavedData = false;
    }

    private void RevertChanges()
    {
        _items = LoadData();
        StateHasChanged();
        UnsavedData = false;
    }

    public void Dispose()
    {
        LoaderHandler.Dispose();
    }

    private List<DropItem> LoadData()
    {
        return new List<DropItem>
        {
            new() { Name = "a", Zone = "2" },
            new() { Name = "b", Zone = "1" },
            new() { Name = "c", Zone = "2" },
            new() { Name = "d", Zone = "1" },
            new() { Name = "e", Zone = "2" },
            new() { Name = "f", Zone = "1" }
        };
    }

}
