@inject IDialogService DialogService
@inject ConfigHelper ConfigHelper
@inject StateHelper StateHelper
@inject NavigationManager NavigationManager
@inject ILogger<ProfileCardComponent> Logger
@inject LocaleHelper LocaleHelper

<MudItem sm="4">
    <MudPaper Elevation="2" Class="pa-4 d-flex flex-column flex-none gap-2 mud-background-gray border-2 border-solid mud-border-lines-default card-container info-card-height">
        <div class="card-overflow">
            @if (!SideIsUnknown)
            {
                <MudImage Src=@(ImageName()) Elevation="0" Class=@(ImageClassNames())/>
            }
        </div>
        <MudText Class="mb-n4 no-pointers no-select" Typo="Typo.caption">@(LocaleHelper.Get("profile_card_name")):</MudText>
        <MudText Typo="Typo.h6">@MiniProfile.Username</MudText>
        <MudDivider DividerType="DividerType.Middle"/>
        <MudText Class="mb-n4 no-pointers no-select" Typo="Typo.caption">@(LocaleHelper.Get("profile_card_level")):</MudText>
        <MudText Typo="Typo.h6">@MiniProfile.CurrentLevel</MudText>
        <MudDivider DividerType="DividerType.Middle"/>
        <MudText Class="mb-n4 no-pointers no-select" Typo="Typo.caption">@(LocaleHelper.Get("profile_card_edition")):</MudText>
        <MudText Typo="Typo.h6">@MiniProfile.Edition</MudText>
        <MudDivider DividerType="DividerType.Middle"/>
        <MudText Class="mb-n3 no-pointers no-select" Typo="Typo.caption">@(LocaleHelper.Get("profile_card_id")):</MudText>
        <MudText Typo="Typo.body1">@MiniProfile.ProfileId</MudText>
        @if (!HideButtons)
        {
            <MudContainer Class="justify-end d-flex pa-0">

                @if (!MiniProfile.InvalidOrUnloadableProfile)
                {
                    <MudTooltip Color="Color.Dark" Arrow="true" Placement="Placement.Left" Text="@(LoggedIn ? LocaleHelper.Get("profile_card_logout") : LocaleHelper.Get("profile_card_login"))">
                        <MudIconButton Class="mr-1" Color="Color.Success" Icon="@(!LoggedIn ? Icons.Material.Filled.Login : Icons.Material.Filled.Logout)" Size="Size.Small" @onclick="RunLoginTask"/>
                    </MudTooltip>
                }
                else
                {
                    <MudTooltip Color="Color.Dark" Arrow="true" Placement="Placement.Left" Text="@(LocaleHelper.Get("profile_card_invalid"))">
                        <MudIconButton Class="mr-1" Color="Color.Error" Icon="@Icons.Material.Filled.Recycling" Size="Size.Small"/>
                    </MudTooltip>
                }

                <MudTooltip Color="Color.Dark" Arrow="true" Placement="Placement.Left" Text="@(LocaleHelper.Get("profile_card_delete"))">
                    <MudIconButton Color="Color.Error" Icon="@Icons.Material.Filled.Delete" Size="Size.Small" @onclick="RunDeleteTask"/>
                </MudTooltip>

            </MudContainer>
        }
    </MudPaper>
</MudItem>

@code {
    [Parameter]
    public bool HideButtons { get; set; }

    [Parameter]
    public MiniProfile MiniProfile { get; set; }

    [Parameter]
    public List<MiniProfile> ProfileList { get; set; }

    [Parameter]
    public EventCallback<List<MiniProfile>> ProfileListChanged { get; set; }

    private bool SideIsUnknown { get; set; }
    private bool LoggedIn { get; set; }

    private string GetSideAsString()
    {
        return MiniProfile.Side.ToLower() != "unknown"
            ? MiniProfile.Side.ToLower()
            : "usec";
    }

    private string ImageClassNames()
    {
        var side = GetSideAsString();

        return new CssBuilder()
            .AddClass("no-pointers")
            .AddClass($"background-image-{side}")
            .Build();
    }

    private string ImageName()
    {
        var side = GetSideAsString();

        return $"side_{side}.png";
    }

    protected override void OnInitialized()
    {
        base.OnInitialized();

        LoggedIn = StateHelper.SelectedProfile != null && StateHelper.SelectedProfile.ProfileId == MiniProfile.ProfileId;
        if (MiniProfile.Side.ToLower() == "unknown")
        {
            SideIsUnknown = true;
        }
    }

    private async Task RunLoginTask()
    {
        if (StateHelper.SelectedProfile != null)
        {
            if (StateHelper.SelectedProfile.ProfileId == MiniProfile.ProfileId)
            {
                StateHelper.SelectedProfile = null;
                LoggedIn = false;
                return;
            }
        }

        var dialogParams = new DialogParameters
        {
            {
                "MiniProfile", MiniProfile
            }
        };

        var dialog = await DialogService.ShowAsync<ProfileLoginDialog>("ProfileLoginDialog", dialogParams, ConfigHelper.DialogOptions);
        var result = await dialog.Result;

        if (result?.Canceled is false)
        {
            StateHelper.SetSelectedProfile(MiniProfile);
            LoggedIn = StateHelper.SelectedProfile != null;

            Logger.LogInformation("Navigating to /ServerPageWrapper/false");
            NavigationManager.NavigateTo("/ServerPageWrapper/false");
        }
    }

    private async Task RunDeleteTask()
    {
        var dialogParams = new DialogParameters
        {
            {
                "MiniProfile", MiniProfile
            }
        };

        var dialog = await DialogService.ShowAsync<ProfileRemoveDialog>("ProfileRemoveDialog", dialogParams, ConfigHelper.DialogOptions);
        var result = await dialog.Result;

        if (result?.Canceled is false)
        {
            ProfileList = StateHelper.ProfileList;
            await ProfileListChanged.InvokeAsync(ProfileList);
        }
    }

}
